/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography{
    background: radial-gradient(circle, #16BFFD 0%, #CB3066 100%) !important;
}

.mat-toolbar{
    background-image: linear-gradient(180deg, #16BFFD, #CB3066);;
}

